.dashboard {
	position: fixed;
	width: 100%;
	height: 100%;
}

.dashboard nav {
	width: 100%;
	text-align: center;
	line-height: 1.6;
}

.dashboard-content {
	/* margin-top: 250px; */

	display: flex;
	justify-content: center;
	align-items: center;
}
.dashboard-content h1 {
	font-size: 100px;
}
